@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #4A4A4A;
  --bancolombia-yellow: #FDDA24;
  --bancolombia-black: #000000;
  --bancolombia-gray-dark: #4A4A4A;
  --bancolombia-gray-light: #F5F5F5;
  --bancolombia-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
